@model IEnumerable<HumanResourcesMVC.Models.Contract>

@{
    ViewData["Title"] = "Umowy";
}

    <h1>Umowy</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdContract)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContractNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContractStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContractEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdContractType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEmployee)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdContract)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContractNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContractStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContractEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdContractType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEmployee)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
